<div class="tab-pane" id="potrebnost">
    <div class="potrebnost_info col-xs-12 no-pad">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="cont_title">
                <div class="ico-txt">
                    <div class="cont_title_icon ierarh_icon"></div>
                </div>
                <div class="tl-txt">Иерархия<br />основных потребностей</div>
            </div>
            <ul class="potr_ul list-unstyled">
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-md-4  col-sm-4 col-xs-12 middle_board">
            <div class="cont_title">
                <div class="ico-txt">
                    <div class="cont_title_icon ierarh_icon"></div>
                </div>
                <div class="tl-txt">Иерархия первого уровня<br /><span>(детализация основных потребностей)</span></div>
            </div>
            <ul class="potr_ul list-unstyled">
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="cont_title">
                <div class="ico-txt">
                    <div class="cont_title_icon ierarh_icon"></div>
                </div>
                <div class="tl-txt">Иерархия второго уровня<br /><span>(детализация первого уровня)</span></div>
            </div>
            <ul class="potr_ul list-unstyled">
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
                <li>
                    <select class="select">
                        <option>Физиологические потребности</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 text-right pinf_bot">
            <div class="dropdown drop_settings">
                <span class="mini-icon lock"></span>
                <i class="fa fa-chevron-down" data-toggle="dropdown" aria-hidden="true" aria-expanded="false"></i>
                <ul class="dropdown-menu  dropdown-menu-right">
                    <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                    <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                    <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                    <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                    <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                    <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                </ul>
            </div>
            <div class="bt_group">
                <button type="button" class="save_button">Сохранить</button>
                <button type="reset" class="reset_button">Отмена</button>
            </div>
        </div>
    </div>
</div>
