<div class="col-md-3 social_mdl hidden-sm hidden-xs">
    <div class="block left">
        <div class="user-name"><a href=""><img class="img-responsive" src="../assets/img/user.png" /></a> <a href="">Валентина Голушко</a></div>
        <div class="user-ballance block-inf">
            <div class="h5">ресурсы</div>
            <img class="iconz" src="../assets/img/map-icon.png" /> <a href="">Мой баланс</a></div>
        <div class="block-inf">
            <div class="h5">настройки</div>
            <div><img class="iconz" src="../assets/img/icons/edit.png" /> <a href="">Редактировать профиль</a></div>
            <div><img class="iconz" src="../assets/img/icons/set.png" /> <a href="">Настройка ленты</a></div>
        </div>
        <div class="block-inf">
            <div class="h5">создать публикацию</div>
            <div><img class="iconz" src="../assets/img/icons/info.png" /> <a href="">Информацию</a></div>
            <div><img class="iconz" src="../assets/img/icons/innov.png" /> <a href="">Инновацию</a></div>
        </div>
        <div class="block-inf">
            <div class="h5">мероприятия</div>
            <div><img class="iconz" src="../assets/img/icons/cal.png" /> <a href="">Список Мероприятий</a></div>
            <div><img class="iconz" src="../assets/img/icons/crcal.png" /> <a href="">Создать Мероприятие</a></div>
        </div>
    </div>
</div>

