<div class="col-md-6 col-sm-12 col-xs-12 social_mdm middle">
    <ul class="nav nav-pills pointer">
        <li
            *ngFor="let feed of feeds"
            (click)="showSelectedFeed(feed.href)"
            [class.active]="feed.href === selectedFeed"
        >
            <a data-toggle="tab">
                {{ feed.title[lang] ? feed.title[lang] : feed.title['en'] }}
                <span>{{ feed.newBlocks ? feed.newBlocks : null }}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content clearfix">
        <app-timeline-feed-innov *ngIf="selectedFeed === 'innov'"></app-timeline-feed-innov>
        <app-timeline-feed-inform *ngIf="selectedFeed === 'inform'"></app-timeline-feed-inform>
        <app-timeline-feed-votes *ngIf="selectedFeed === 'votes'"></app-timeline-feed-votes>
        <app-timeline-feed-tenders *ngIf="selectedFeed === 'tenders'"></app-timeline-feed-tenders>
    </div>
    <div class="clearfix"></div>
</div>
