<div class="block">
    <div class="dropdown top_drop"
         [class.open]="menu"
         (appClickOutside)="ClickedOutside()"
    >
        <i
            class="fa fa-chevron-down"
            data-toggle="dropdown"
            aria-hidden="true"
            aria-expanded="true"
            (click)="showMenu()"
        ></i>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a class="pointer">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <div>Отказаться от подписки<br />Инноваций Ольги</div>
                </a>
            </li>
            <li>
                <a class="pointer">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                    <div>Отказаться получать<br />Инновации Ольги</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 no-pad left-block">
        <div class="worldwide">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="География"
                ><img class="img-responsive" src="../assets/img/icons/earth.png"
            /></a>
            Общемировая
        </div>
        <img class="us-photo" src="../assets/img/user.png" />
        <div class="sub-info">
            <div class="name">Виниченко Галина</div>
            <ul class="specialization">
                <li>Веб Дизайн;</li>
                <li>Архитектура</li>
            </ul>
            <div class="date">
                <img class="img-responsive" src="../assets/img/icons/mini-cal.png" /> 28 августа
                2016 в 22:45
                <span class="number_part"
                    ><img class="img-responsive" src="../assets/img/icons/number-part.png" />
                    7</span
                >
            </div>
            <div class="open-revision">
                <img class="img-responsive" src="../assets/img/icons/status.png" />
                <span>Открытая Доработка</span> до 22:44 09 сентября 2016
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 right-block">
        <ul class="active_info">
            <li class="active">
                <img class="img-responsive" src="../assets/img/icons/level.png" /> 4
            </li>
            <li><img class="img-responsive" src="../assets/img/icons/git.png" /> GitHub</li>
            <li class="active">
                <a href=""><img class="img-responsive" src="../assets/img/icons/downl.png" /></a> 2
            </li>
        </ul>
        <ul>
            <li>
                <img class="img-responsive" src="../assets/img/icons/set1.png" /> Здравоохранение
            </li>
            <li><img class="img-responsive" src="../assets/img/icons/set2.png" /> Все</li>
            <li><img class="img-responsive" src="../assets/img/icons/set3.png" /> Все</li>
        </ul>
    </div>
    <div class="col-xs-12 att-title">Мобильное приложение “ВОЛНА ЛЮБВИ”</div>
    <div class="clearfix"></div>
    <div class="col-xs-12 block_txt">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-pad">
            <img class="img-responsive block-big-img" src="../assets/img/im.png" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            Мобильное приложение предназначенное для очистки энергоинформационного поля земли.
            Снятия блокировок сознания, создание позитивного и синергичного настроя людей для
            совместной созидательной работы направленной на улучшение качества жизни людей и
            экосистемы планеты.
        </div>
        <div class="col-xs-12 text-center">
            <a class="bl_more_link" href=""><span></span><span></span><span></span></a>
        </div>
    </div>
    <div class="col-xs-12 block-bottom-full">
        <div class="row">
            <div class="block-bottom">
                <ul class="active_info">
                    <li class="co-auth">
                        <img class="img-responsive" src="../assets/img/icons/co-auth.png" />
                        <span class="co-auth-span">0</span>
                    </li>
                    <li class="active">
                        <img class="img-responsive" src="../assets/img/icons/chat.png" /> 127
                    </li>
                    <!--<li><img class="img-responsive" src="../assets/img/icons/rew.png"/> 7</li>-->
                </ul>
                <a class="block_bottom_btn rmed" href="./better-innovation.php">Улучшить</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="block">
    <div class="dropdown top_drop">
        <i
            class="fa fa-chevron-down"
            data-toggle="dropdown"
            aria-hidden="true"
            aria-expanded="true"
        ></i>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href=""
                    ><i class="fa fa-times-circle" aria-hidden="true"></i>
                    <div>Отказаться от подписки<br />Инноваций Ольги</div>
                </a>
            </li>
            <li>
                <a href=""
                    ><i class="fa fa-times-circle" aria-hidden="true"></i>
                    <div>Отказаться получать<br />Инновации Ольги</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-lg-7 col-md-12 col-xs-12 no-pad left-block">
        <div class="worldwide">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="География"
                ><img class="img-responsive" src="../assets/img/icons/earth.png"
            /></a>
            Общемировая
        </div>
        <img class="us-photo" src="../assets/img/user.png" />
        <div class="sub-info">
            <div class="name">Виниченко Галина</div>
            <ul class="specialization">
                <li>Веб Дизайн;</li>
                <li>Архитектура</li>
            </ul>
            <div class="date">
                <img class="img-responsive" src="../assets/img/icons/mini-cal.png" /> 28 августа
                2016 в 22:45
                <span class="number_part"
                    ><img class="img-responsive" src="../assets/img/icons/number-part.png" />
                    7</span
                >
            </div>
            <div class="open-revision">
                <img class="img-responsive" src="../assets/img/icons/status.png" />
                <span>Открытая Доработка</span> до 22:44 09 сентября 2016
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 right-block">
        <ul class="active_info">
            <li class="active">
                <img class="img-responsive" src="../assets/img/icons/level.png" /> 4
            </li>
            <li class="active">
                <img class="img-responsive" src="../assets/img/icons/git.png" /> GitHub
            </li>
            <li class="active">
                <a href=""><img class="img-responsive" src="../assets/img/icons/downl.png" /></a> 2
            </li>
        </ul>
        <ul>
            <li>
                <img class="img-responsive" src="../assets/img/icons/set1.png" /> Здравоохранение
            </li>
            <li><img class="img-responsive" src="../assets/img/icons/set2.png" /> Все</li>
            <li><img class="img-responsive" src="../assets/img/icons/set3.png" /> Все</li>
        </ul>
    </div>
    <div class="col-xs-12 att-title">Мобильное приложение “ВОЛНА ЛЮБВИ”</div>
    <div class="clearfix"></div>
    <div class="col-xs-12 block_txt">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-pad">
            <div class="co-authors-info">
                <img class="us-photo" src="../assets/img/user.png" />
                <div class="coauth-txt">
                    <div class="text-center coauth-title">Дополнения</div>
                    <div class="text-center">
                        <img class="calw" src="../assets/img/calw.png" /> 28 августа 2016 в 22:45
                    </div>
                    <div>Тарас Лищенко</div>
                </div>
            </div>
            <img class="img-responsive block-big-img" src="../assets/img/im.png" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            Мобильное приложение предназначенное для очистки энергоинформационного поля земли.
            Снятия блокировок сознания, создание позитивного и синергичного настроя людей для
            совместной созидательной работы направленной на улучшение качества жизни людей и
            экосистемы планеты.
        </div>
        <div class="col-xs-12 text-center">
            <a class="bl_more_link" href=""><span></span><span></span><span></span></a>
        </div>
    </div>
    <div class="col-xs-12 block-bottom-full">
        <div class="row">
            <div class="block-bottom">
                <ul class="active_info">
                    <li class="co-auth active">
                        <a class="show_block"
                            ><img class="img-responsive" src="../assets/img/icons/co-auth.png" />
                            <span class="co-auth-span">3</span></a
                        >
                        <div class="add_form">
                            <form method="" action="">
                                <div class="form_head col-xs-12 no-pad">
                                    <div class="col-xs-4 rmed">
                                        <img
                                            class="img-responsive"
                                            src="../assets/img/icons/co-auth.png"
                                        />
                                        Соавторы
                                    </div>
                                    <div class="deleg_search col-xs-7">
                                        <input type="search" class="form-control" />
                                        <button type="submit" class="btn deleg_search_btn">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                    <span class="close_form">×</span>
                                </div>
                                <div class="form_tabs col-xs-12 no-pad rmed">
                                    <ul class="nav nav-pills tab-cont_nav_inside">
                                        <li class="active">
                                            <a href="#alternative" data-toggle="tab"
                                                >Альтернатива</a
                                            >
                                        </li>
                                        <li><a href="#changes" data-toggle="tab">Изменения</a></li>
                                        <li><a href="#adding" data-toggle="tab">Дополнения</a></li>
                                    </ul>
                                    <div class="tab-content clearfix tab-cont-info">
                                        <div class="tab-pane active" id="alternative">
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="changes">
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="adding">
                                            <div
                                                class="col-md-4 col-sm-4 col-xs-4 no-pad user_block"
                                            >
                                                <img
                                                    class="us-photo"
                                                    src="../assets/img/user.png"
                                                />
                                                <div class="us-photo-name">
                                                    <span class="">Тарас Лищенко</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="active">
                        <img class="img-responsive" src="../assets/img/icons/chat.png" /> 127
                    </li>
                    <!--<li><img class="img-responsive" src="../assets/img/icons/rew.png"/> 7</li>-->
                </ul>
                <a class="block_bottom_btn rmed" href="./better-innovation.php">Улучшить</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
