<div class="block">
    <div class="dropdown top_drop"
         (click)="showMenu()"
         [class.open]="menu"
    >
        <i class="fa fa-chevron-down" data-toggle="dropdown" aria-hidden="true" aria-expanded="true"></i>
        <ul class="dropdown-menu  dropdown-menu-right">
            <li><a href=""><i class="fa fa-check-circle" aria-hidden="true"></i>
                <div>Подписаться на<br />Информацию от Василия</div>
            </a></li>
            <li><a href=""><i class="fa fa-times-circle" aria-hidden="true"></i>
                <div>Отказаться получать<br />Информацию от Василия</div>
            </a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-md-8 no-pad left-block">
        <div class="worldwide">
            <a href="#" data-toggle="tooltip" data-placement="bottom" title="География">
                <img class="img-responsive" src="../assets/img/icons/earth.png" /></a>
            <a class="show_block"
               (click)="toggleTargetDialog()"
            >Целевая</a>
            <div class="add_form soc_authors_block"
                 [class.on-target]="window"
            >
                <form method="" action="">
                    <div class="form_head col-xs-12 no-pad">
                        <div class="col-xs-10 rmed">
                            <div class="gr_city"><img class="grmini" src="../assets/img/icons/grmini.png" /> Украина, город Одесса</div>
                        </div>
                        <span class="close_form"
                              (click)="toggleTargetDialog()"
                        >×</span>
                    </div>
                    <div class="form_tabs col-xs-12 no-pad rmed">
                        <div class="tab-content clearfix tab-cont-info">
                            <div class="tab-pane active" id="alternative">
                                <div class="col-xs-4 no-pad user_block">
                                    <img class="us-photo" src="../assets/img/user.png">
                                    <div class="us-photo-name"><span class="">Тарас Лищенко</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-pad user_block">
                                    <img class="us-photo" src="../assets/img/user.png">
                                    <div class="us-photo-name"><span class="">Тарас Лищенко</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-pad user_block">
                                    <img class="us-photo" src="../assets/img/user.png">
                                    <div class="us-photo-name"><span class="">Тарас Лищенко</span>
                                    </div>
                                </div>
                                <div class="col-xs-4 no-pad user_block">
                                    <img class="us-photo" src="../assets/img/user.png">
                                    <div class="us-photo-name"><span class="">Тарас Лищенко</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <img class="us-photo" src="../assets/img/user.png" />
        <div class="sub-info">
            <div class="name">Виниченко Галина</div>
            <ul class="specialization">
                <li>Веб Дизайн;</li>
                <li>Архитектура</li>
            </ul>
            <div class="date"><img class="img-responsive" src="../assets/img/icons/mini-cal.png" /> 28 августа 2016 в 22:45 <span class="number_part"><img class="img-responsive" src="../assets/img/icons/number-part.png" /> 7</span></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 right-block">
        <ul>
            <li><img class="img-responsive" src="../assets/img/icons/set1.png" /> Здравоохранение</li>
            <li><img class="img-responsive" src="../assets/img/icons/set2.png" /> Все</li>
            <li><img class="img-responsive" src="../assets/img/icons/set3.png" /> Все</li>
        </ul>
    </div>
    <div class="col-xs-12 att-title">Мобильное приложение “ВОЛНА ЛЮБВИ”</div>
    <div class="clearfix"></div>
    <div class=" col-xs-12 block_txt">
        <div class="col-lg-7 col-md-7 col-sm-7 no-pad"><img class="img-responsive block-big-img" src="../assets/img/im.png" /></div>
        <div class="col-lg-5 col-md-5 col-sm-5">Мобильное приложение предназначенное для очистки энергоинформационного поля земли. Снятия блокировок сознания, создание позитивного и синергичного настроя людей для совместной созидательной работы направленной на улучшение качества жизни людей и экосистемы планеты.</div>
        <div class="col-xs-12 text-center"><a class="bl_more_link" href=""><span></span><span></span><span></span></a></div>
    </div>
    <div class="col-xs-12 block-bottom-full">
        <div class="row">
            <div class="block-bottom">
                <div class="information-bottom-btn">
                    <div class="inform-votes rmed"><img src="../assets/img/icons/thanks.png" /> 1 101 254 785</div>
                    <a class="block_bottom_btn rmed" href="./better-innovation.php">Благодарю</a>
                </div>
                <div class="information-bottom-btn">
                    <div class="inform-votes rmed"><img src="../assets/img/icons/useless.png" /> 1 254 785</div>
                    <a class="block_bottom_btn rmed" href="./better-innovation.php">Безполезно</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
