<div class="col-md-3 social_mdl hidden-sm hidden-xs">
    <div class="block left">
        <div class="user-name">
            <a href=""><img class="img-responsive" src="../assets/img/user.png" /></a> <a href="">{{ auth.getUserDetails()?.name }}</a></div>
        <div class="block-inf"
             *ngFor="let reference of references; let i = index"
             [class.user-ballance]="i === 0">
            <div class="h5">{{ reference.title[lang] }}</div>
            <div *ngFor="let ref of reference.ref">
                <img class="iconz" [src]="'../assets/img/icons/'+ ref.icon" />
                <a [href]="'/profile/'+ref.link">{{ref.name[lang]}}</a>
            </div>
        </div>
    </div>
</div>


