<div class="tab-pane " id="server">
    <div class="contact_tab">
        <div class="col-md-4 left_cont">
            <div class="">
                <div class="cont_title"><span class="cont_title_icon serv_icon"></span> Зарегистрировать сервер</div>
                <div class="form-gr">
                    <div class="col-md-1 no-pad">
                        <label for="">IP:</label>
                    </div>
                    <div class="col-md-5 no-pad">
                        <input type="text" class="form-control ip" />
                    </div>
                    <div class="col-md-2 no-pad port" style="padding-left: 5px;">
                        <label class="lastlab" for="">Port:</label>
                    </div>
                    <div class="col-md-4 no-pad">
                        <input type="text" class="form-control port" />
                    </div>
                </div>
                <div class="bt_group text-right">
                    <button type="button" class="save_button servreg">Зарегистрировать</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 right_cont">
            <div class="serv_title">
                <div class="serv_num">1</div> <img class="img-responsive" src="../assets/img/icons/serv.png" /> IP 5.189.23.25 <a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a>
            </div>
            <div class="server_info">
                <div><span>Статус:</span> Активен</div>
                <div><span>Дата регистрации:</span> <b>26.02. 2017 18:32</b></div>
                <div><span>Общее количество блоков
                                                            с момента регистрации:</span> <b>244</b> блока</div>
                <div><span>Сервер Активен:</span> <b>192</b> блока</div>
                <div><span>Начислено за Сервер:</span> <b>15 743</b> enebra</div>
            </div>
        </div>
    </div>
</div>
