<div class="tab-pane" id="innovcoauth">
    <div class="chron-tab-top col-xs-12 no-pad">
        <div class="sorting-but">
            <img class="" src="../assets/img//sortingicon.png">
        </div>
        <div class="chron_tab_top_right_content">
            <div class="col-md-2 no-pad">
                Сумма <br>
                Количество 3
            </div>
            <ul class="no-pad list-unstyled col-md-10">
                <li><img class="chicon" src="../assets/img/icons/rew.png"> 63</li>
                <li><img src="../assets/img/icons/number-part.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/thanks.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/useless.png"> 463 456 667</li>
                <li><img src="../assets/img/icons/downl.png"> 463 456 667</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 no-pad chrblock">
        <div class="col-md-6 no-pad rreg">
            <div class="chr_img_wrap">
                <div class="chrblock_num">3</div>
                <img class="img-responsive block-big-img" src="../assets/img/im.png">
                <div class="chrblock_info">
                    <div class="col-md-8  no-pad pad-right">
                        <div class="rlight">
                            <img class="chicon" src="../assets/img/calw.png"> 28 августа 2016 в
                            22:45
                            <img class="" src="../assets/img/icons/numw.png"> 7 567
                        </div>
                        <div class="open-revision"><img class="" src="../assets/img/icons/statw.png">
                            <span>Открытая Доработка</span> до 22:44 09 сентября 2016
                        </div>
                        <a href="#"><img class="" src="../assets/img/icons/earthw.png"></a>
                        Общемировая
                        <a href="#"><span class=" changes_icon"></span></a> Изменения
                    </div>
                    <div class="col-md-4  no-pad">
                        <ul class="list-unstyled">
                            <li><img class="" src="../assets/img/icons/set1w.png">
                                Здравоохранение
                            </li>
                            <li><img class="" src="../assets/img/icons/set2w.png"> Все</li>
                            <li><img class="" src="../assets/img/icons/set3w.png"> Все</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 chr_block_txt">
            <div class="col-md-3 no-pad">
                <div class="img-wrap user_wrap_image"><img src="../assets/img/fam.png">
                    <div class="chron_user_wr_name">Рустем Аблаев</div>
                </div>
            </div>
            <div class="col-md-9 title_innovcoauth">Мобильное приложение “ВОЛНА ЛЮБВИ”
            </div>
            <div class="col-xs-12 rreg">
                <div class="h4 rmed">Ваши Улучшения:</div>
                <div class="text-center rreg sub_title">Перевод интерфейса приложения на
                    английский язык
                </div>
                The mobile app designed to clean energy-field of the earth. Removing
                blocks consciousness, creating a positive and synergistic mood of people
                for joint constructive work aimed at improving the quality of life of
                people and the planet's ecosystems.
            </div>
        </div>
        <div class="col-xs-12 text-center"><a class="bl_more_link"
                                              href=""><span></span><span></span><span></span></a>
        </div>
        <div class="col-xs-12 no-pad chrblock_bottom">
            <ul class="list-unstyled col-md-2 col-sm-12 col-xs-12 no-pad active_info ">
                <li class="co-auth active">
                    <a class="show_block"><img class="chicon" src="../assets/img/icons/co-auth.png">
                        <span class="co-auth-span">3</span></a>
                    <div class="add_form soc_authors_block">
                        <form method="" action="">
                            <div class="form_head col-xs-12 no-pad">
                                <div class="col-xs-4 rmed"><img class="chicon"
                                                                src="../assets/img/icons/co-auth.png">
                                    Соавторы
                                </div>
                                <div class="deleg_search col-xs-7">
                                    <input type="search" class="form-control">
                                    <button type="submit" class="btn deleg_search_btn">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                                <span class="close_form">×</span>
                            </div>
                            <div class="form_tabs col-xs-12 no-pad rmed">
                                <ul class="nav nav-pills tab-cont_nav_inside">
                                    <li class="active"><a href="#alternative" data-toggle="tab"
                                                          aria-expanded="true">Альтернатива</a>
                                    </li>
                                    <li><a href="#changes" data-toggle="tab" aria-expanded="true">Изменения</a>
                                    </li>
                                    <li><a href="#adding" data-toggle="tab" aria-expanded="true">Дополнения</a>
                                    </li>
                                </ul>
                                <div class="tab-content clearfix tab-cont-info">
                                    <div class="tab-pane active" id="alternative">
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="changes">
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="adding">
                                        <div class="col-xs-4 no-pad user_block">
                                            <img class="us-photo" src="../assets/img/user.png">
                                            <div class="us-photo-name"><span
                                                class="">Тарас Лищенко</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="active"><img class="chicon" src="../assets/img/icons/chat.png"> 127
                </li>
                <li class="active"><img class="chicon" src="../assets/img/icons/level.png"> 4
                </li>
            </ul>
            <ul class="no-pad list-unstyled col-md-8 col-sm-12 col-xs-12 chblock_bottom_ul">
                <li><img class="chicon" src="../assets/img/icons/rew.png"> 63</li>
                <li><img src="../assets/img/icons/number-part.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/thanks.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/useless.png"> 463 456 667</li>
                <li><img src="../assets/img/icons/downl.png"> 463 456 667</li>
            </ul>
        </div>
    </div>
</div>
