<div class="tab-pane" id="infotab">
    <div class="chron-tab-top col-xs-12 no-pad">
        <div class="sorting-but">
            <img class="" src="../assets/img//sortingicon.png">
        </div>
        <div class="chron_tab_top_right_content">
            <div class="col-md-2 no-pad">
                Сумма <br>
                Количество 3
            </div>
            <ul class="no-pad list-unstyled col-md-10">
                <li><img class="chicon" src="../assets/img/icons/rew.png"> 63</li>
                <li><img class="chicon" src="../assets/img/icons/thanks.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/useless.png"> 463 456 667</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 no-pad chrblock">
        <div class="col-md-6 no-pad rreg">
            <div class="chr_img_wrap">
                <div class="chrblock_num">3</div>
                <img class="img-responsive block-big-img" src="../assets/img/im.png">
                <div class="chrblock_info">
                    <div class="col-md-6  no-pad pad-right">
                        <div class="rlight">
                            <img class="chicon" src="../assets/img/calw.png"> 28 августа 2016 в
                            22:45<br>
                            <img class="" src="../assets/img/icons/numw.png"> 7 567
                        </div>
                        <a href="#"><img class="" src="../assets/img/icons/earthw.png"></a>
                        Целевая
                    </div>
                    <div class="col-md-6  no-pad">
                        <ul class="list-unstyled">
                            <li><img class="" src="../assets/img/icons/set1w.png">
                                Здравоохранение
                            </li>
                            <li><img class="" src="../assets/img/icons/set2w.png"> Все</li>
                            <li><img class="" src="../assets/img/icons/set3w.png"> Все</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 rreg chr_block_txt">
            <div class="h3">МЕТОДИКА иЗУЧЕНИЯ ИНОСТРАННОГО ЯЗЫКА</div>

            Цель данной методики – научить человека взаимодействовать с другими людьми
            на изучаемом языке, что подразумевает все формы общения: речь, письмо (как
            чтение, так и навыки написания текстов), умение слушать и понимать сказанное
            собеседником. Этого проще всего достичь, обучая человека в естественных
            условиях - естественных, прежде всего, с точки зрения здравого смысла.
            Например, вопрос преподавателя «Что это?» с указанием на стул, может
            считаться естественным только в том случае, если преподаватель на самом деле
            не знает, что же это такое и т.д.

            Современный коммуникативный метод представляет сочетание многих способов
            обучения иностранным языкам. На сегодняшний день это вершина эволюционной
            пирамиды различных образовательных методик.
            Коммуникативный метод подходит большинству людей, позволяет быстрее и более
            осознанно выучить иностранный язык.
        </div>
        <div class="col-xs-12 text-center"><a class="bl_more_link"
                                              href=""><span></span><span></span><span></span></a>
        </div>

        <div class="col-xs-12 no-pad chrblock_bottom">
            <ul class="no-pad list-unstyled chblock_bottom_ul chr_inform_ul text-center">
                <li><img class="chicon" src="../assets/img/icons/thanks.png"> 463 456 667</li>
                <li><img class="chicon" src="../assets/img/icons/useless.png"> 463 456 667</li>
            </ul>

        </div>
    </div>

</div>
