<div class="tab-pane" id="contact">
    <div class="contact_tab">
        <div class="col-md-4 col-sm-4 col-xs-12  left_cont">
            <div class="">
                <div class="cont_title">
                    <div class="ico-txt"><span class="cont_title_icon tel_num"></span></div>
                    <div class="tl-txt">Добавить номер телефона</div>
                </div>
                <div class="form-group">
                    <select class="select">
                        <option>Мобильный</option>
                    </select>
                    <select class="select cust_width">
                        <option>Украина (+380)</option>
                    </select>
                    <div class="dropdown drop_settings">
                        <input class="form-control cust_width" type="text" />
                        <div class="drop_privacy" data-toggle="dropdown" aria-hidden="true">
                            <span class="mini-icon libra"></span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                            <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                            <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                            <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                            <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                            <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bt_group">
                        <button type="button" class="save_button">Сохранить</button>
                        <button type="reset" class="reset_button">Отмена</button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="cont_title">
                    <div class="ico-txt"><span class="cont_title_icon em_icon"></span></div>
                    <div class="tl-txt">Добавить Email</div>
                </div>
                <div class="form-group">
                    <div class="dropdown drop_settings">
                        <input class="form-control cust_width" type="text" />
                        <div class="drop_privacy" data-toggle="dropdown" aria-hidden="true">
                            <span class="mini-icon subscr"></span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                            <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                            <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                            <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                            <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                            <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bt_group">
                        <button type="button" class="save_button">Сохранить</button>
                        <button type="reset" class="reset_button">Отмена</button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="cont_title">
                    <div class="ico-txt"><span class="cont_title_icon web_icon"></span></div>
                    <div class="tl-txt">Добавить личный Веб сайт</div>
                </div>
                <div class="form-group">
                    <div class="dropdown drop_settings">
                        <input class="form-control cust_width" type="text" />
                        <div class="drop_privacy" data-toggle="dropdown" aria-hidden="true">
                            <span class="mini-icon earth"></span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                            <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                            <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                            <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                            <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                            <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bt_group">
                        <button type="button" class="save_button">Сохранить</button>
                        <button type="reset" class="reset_button">Отмена</button>
                    </div>
                </div>
            </div>
            <div class=" add_adress">
                <div class="cont_title">
                    <div class="ico-txt"><span class="cont_title_icon adress_icon"></span></div>
                    <div class="tl-txt">Добавить адрес</div>
                </div>
                <div class="form-group addadress">
                    <select class="select">
                        <option>Страна</option>
                    </select>
                    <select class="select">
                        <option>Индекс</option>
                    </select>
                    <select class="select cust_width">
                        <option>Город / Область</option>
                    </select>
                    <select class="select cust_width">
                        <option>Город / Район</option>
                    </select>
                    <select class="select cust_width">
                        <option>Тип Нас-го пункта</option>
                    </select>
                    <select class="select cust_width">
                        <option>Название Нас-го пункта</option>
                    </select>
                    <select class="select cust_width">
                        <option>Тип улицы</option>
                    </select>
                    <select class="select cust_width">
                        <option>Название улицы</option>
                    </select>
                    <input class="form-control inp_sm" type="text" placeholder="№ Дома" />
                    <input class="form-control inp_mid" type="text" placeholder="№ Подьезда" />
                    <div class="dropdown drop_settings">
                        <input class="form-control inp_sm" type="text" placeholder="№ Дома" />
                        <input class="form-control inp_mid" type="text" placeholder="№ Подьезда" />
                        <div class="drop_privacy" data-toggle="dropdown" aria-hidden="true">
                            <span class="mini-icon lock"></span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                            <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                            <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                            <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                            <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                            <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                        </ul>
                        <div class="clerafix"></div>
                    </div>
                    <div class="bt_group">
                        <button type="button" class="save_button">Сохранить</button>
                        <button type="reset" class="reset_button">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8  col-xs-12 right_cont">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th colspan="5">Телефоны</th>
                    </tr>
                    <tr class="phone_numbers">
                        <td>Мобильный:</td>
                        <td>+380 67 274 82 05</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr class="phone_numbers pn_pad">
                        <td>Домашний:</td>
                        <td>+380 67 274 82 05</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr class="phone_numbers pn_pad">
                        <td>Рабочий:</td>
                        <td>+380 67 274 82 05</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr>
                        <th colspan="5">Email</th>
                    </tr>
                    <tr>
                        <td colspan="2">gerasimova@gmail.com</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr>
                        <th colspan="5">Веб Сайт</th>
                    </tr>
                    <tr>
                        <td colspan="2">krasotaspasetmir.org</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr>
                        <th colspan="5">Адрес</th>
                    </tr>
                    <tr>
                        <td colspan="2">Украина 21021 г.Винница<br />пр-т Космонавтов <br />
                            дом 31 подъезд 3 <br /> этаж 5 кв 72
                        </td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">Украина 22791 Винницкая обл.<br />
                            Ильинецкий район г. Ильинцы<br />
                            ул. Европейская дом 31</td>
                        <td><span class="mini-icon lock"></span></td>
                        <td><a class="tab_link" href=""><span class="table_icon edit"></span> Редактировать</a></td>
                        <td><a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
