.login {
    font-size: 20px;
}
.logout {
    font-size: 40px;
}
.navbar-default .navbar-nav > li > p, .navbar-default .navbar-nav {
    color: #efefef;
    cursor: pointer;
}
.navbar-default .navbar-nav > li > p:hover {
    color: #ffd500;
    cursor: pointer;
}
.lang-menu {
    //position: absolute;
    color: #2d4854;
    text-align:center;
    font-weight:bold;
    z-index: 100;
}
