<!--<div class="navbar navbar-default">-->
<!--    <div class="container">-->
<!--        <div id="navbar-main">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a routerLink="/">Home</a></li>-->
<!--            </ul>-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>-->
<!--                <li *ngIf="auth.isLoggedIn()">-->
<!--                    <a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>-->
<!--                </li>-->
<!--                <li *ngIf="auth.isLoggedIn()"><a routerLink="#" (click)="auth.logout()">Logout</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/"><img src="../assets/img/logo-f.png"/></a>
                <button data-toggle="collapse-side" data-target=".side-collapse"
                        data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="side-collapse in">
                <div class="navbar-collapse">
                    <div *ngIf="auth.isLoggedIn()">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <form method="" action="" class="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="поиск учасника"/>
                                </div>
                                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                        </div>
                        <ul class="nav navbar-nav center  hidden-sm hidden-xs">
                            <li class="home"><a href="#"><span></span></a></li>
                            <li><p routerLink="/profile"><img class="img-responsive user"
                                                              src="../assets/img/user.png"/> {{ auth.getUserDetails()?.name.split(' ')[0] }}
                            </p></li>
                            <li><p routerLink="/">Главная <span class="main_num">7</span></p></li>
                        </ul>
                        <ul class="nav navbar-nav  hidden-lg hidden-md social_mob_nav">
                            <li class="user-name"><img class="img-responsive"
                                                       src="../assets/img/user.png"/> {{ auth.getUserDetails()?.name.split(' ')[0] }}
                            </li>
                            <li><a href="#">Главная <span>7</span></a></li>
                            <li><img class="statusimg" src="../assets/img/icons/active-status.png"/> АКТИВЕН до
                                27.01.2017
                            </li>
                            <li class="ball_block"><img class="ballance" src="../assets/img/icons/coins.png"/> 3 476,
                                487 463 77
                            </li>
                            <li><a href=""><img src="../assets/img/icons/edit.png"/> Редактировать профиль</a></li>
                            <li><a href=""><img src="../assets/img/icons/set.png"/> Настройка ленты</a></li>
                            <li class="h5">создать публикацию</li>
                            <li><a href=""><img src="../assets/img/icons/info.png"/> Информацию</a></li>
                            <li><a href=""><img src="../assets/img/icons/innov.png"/> Инновацию</a></li>
                            <li><a href=""><img src="../assets/img/icons/cal.png"/> Список Мероприятий</a></li>
                            <li><a href=""><img src="../assets/img/icons/crcal.png"/> Создать Мероприятие</a></li>
                        </ul>
                        <div class="col-xs-12 hidden-lg hidden-md">
                            <form method="" action="" class="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="поиск учасника"/>
                                </div>
                                <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs" *ngIf="auth.isLoggedIn()">
                        <li>
                            <app-messages></app-messages>
                        </li>
                        <li>
                            <div class="dropdown headdrop notes">
                                <div class="img-wrap" data-toggle="dropdown">
                                    <img class="img-responsive" src="../assets/img/notif.png"/>
                                    <div class="num">2</div>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="headdrop-head"><span class="rmed">Уведомления</span>
                                        <div>Отметить все как прочитанные</div>
                                    </div>
                                    <ul class="list-unstyled headdrop-items">
                                        <li>
                                            <div>
                                                <div class="user_wrap_image">
                                                    <img src="../assets/img/user.png"/>
                                                </div>
                                                <div class="headdropcont">
                                                    <div class="headdroptop"><span class="rmed">Андрей Голубев</span>
                                                        <div class="make_notes">Внесла <span
                                                            class="rreg">дополнения</span> в инновацию
                                                        </div>
                                                    </div>
                                                    <div class="headdropbot">
                                                        <div class="headdrop-txt rlight text-center">«МЕТОДИКА ИЗУЧЕНИЯ
                                                            ИНОСТРАННОГО ЯЗЫКА»
                                                        </div>
                                                        <div class="rlight note_date"><img class="img-responsive"
                                                                                           src="../assets/img/icons/mini-cal.png"/>
                                                            2 сентября 16:00
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="text-center headdrop_bot_href">
                                        <div>
                                            <a class="rmed">Просмотреть все Уведомления</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Голосования">
                                <div class="img-wrap"><img src="../assets/img/votes.png"/>
                                    <div class="num">1</div>
                                </div>
                            </a></li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Тендеры">
                                <div class="img-wrap"><img src="../assets/img/tenders.png"/>
                                    <div class="num">1</div>
                                </div>
                            </a>
                        </li>
                        <li class="user" *ngIf="auth.isLoggedIn()">
                            <a class="logout glyphicon glyphicon-off"
                               routerLink="#" (click)="auth.logout()">
                            </a>
                        </li>
                        <li class="lang-menu">
                            <label>
                                <select>
                                    <option *ngFor="let lang of langs" [value]="lang.codeLang">
                                        <img [src]="'../assets/img/flags_svg/'+lang.flagId+'.svg'" [alt]="lang.codeLang">
                                        {{lang.langName}}
                                    </option>
                                </select>
                            </label>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs login" *ngIf="!auth.isLoggedIn()">
                        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
                        <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">Register</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <ul class="nav navbar-nav navbar-right hidden-lg hidden-md">
                <li>
                    <div class="dropdown headdrop messages">
                        <div class="img-wrap" data-toggle="dropdown" aria-expanded="false">
                            <img class="img-responsive" src="../assets/img/sms.png" alt="sms">
                        </div>
                        <div class="num">3</div>
                        <div class="dropdown-menu  dropdown-menu-right">
                            <div class="headdrop-head"><span class="rmed">Сообщение</span>
                                <div>Отметить все как прочитанные <a class="new_message">Новое сообщение</a></div>
                            </div>
                            <ul class="list-unstyled headdrop-items">
                                <li>
                                    <div>
                                        <div class="user_wrap_image">
                                            <img src="../assets/img/user.png">
                                        </div>
                                        <div class="headdropcont">
                                            <div class="headdroptop"><span class="rmed">Андрей Голубев</span>
                                                <div class="mdate">02 сентября</div>
                                            </div>
                                            <div class="headdropbot"><span class="chmess"></span>
                                                <div class="headdrop-txt">Вы: да</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="user_wrap_image">
                                            <img src="../assets/img/user.png">
                                        </div>
                                        <div class="headdropcont">
                                            <div class="headdroptop"><span class="rmed">Андрей Голубев</span>
                                                <div class="mdate">02 сентября</div>
                                            </div>
                                            <div class="headdropbot"><span class="chmess"></span>Запрос гарантии: <a
                                                class="save_button">подтвердить</a> <a class="whbut">отклонить</a></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="user_wrap_image">
                                            <img src="../assets/img/user.png">
                                        </div>
                                        <div class="headdropcont">
                                            <div class="headdroptop"><span class="rmed">Андрей Голубев</span>
                                                <div class="mdate">02 сентября</div>
                                            </div>
                                            <div class="headdropbot"><span class="chmess"></span>
                                                <div class="headdrop-txt">Возможно Вас заинтересует моя инновация, я
                                                    хотел лта лотл лвмлыо ыыышр шыуаыгшрыга лаафог
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center headdrop_bot_href">
                                <div><a class="rmed">Просмотреть все сообщения</a></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown headdrop notes">
                        <div class="img-wrap" data-toggle="dropdown" aria-expanded="false"><img
                            src="../assets/img/notif.png">
                            <div class="num">2</div>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="headdrop-head"><span class="rmed">Уведомления</span>
                                <div>Отметить все как прочитанные</div>
                            </div>
                            <ul class="list-unstyled headdrop-items">
                                <li>
                                    <div>
                                        <div class="user_wrap_image">
                                            <img src="../assets/img/user.png">
                                        </div>
                                        <div class="headdropcont">
                                            <div class="headdroptop"><span class="rmed">Андрей Голубев</span>
                                                <div class="make_notes">Внесла <span class="rreg">дополнения</span> в
                                                    инновацию
                                                </div>
                                            </div>
                                            <div class="headdropbot">
                                                <div class="headdrop-txt rlight text-center">«МЕТОДИКА ИЗУЧЕНИЯ
                                                    ИНОСТРАННОГО ЯЗЫКА»
                                                </div>
                                                <div class="rlight note_date"><img class="img-responsive"
                                                                                   src="../assets/img/icons/mini-cal.png">
                                                    2 сентября 16:00
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="text-center headdrop_bot_href">
                                <div><a class="rmed">Просмотреть все Уведомления</a></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title=""
                       data-original-title="Голосования">
                        <div class="img-wrap"><img src="../assets/img/votes.png">
                            <div class="num">1</div>
                        </div>
                    </a></li>
                <li>
                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Тендеры">
                        <div class="img-wrap"><img src="../assets/img/tenders.png">
                            <div class="num">1</div>
                        </div>
                    </a></li>
            </ul>
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<router-outlet></router-outlet>

<!--<div class="messanger">-->
<!--    <div class="messanger_head">-->
<!--        <div class="swrap">-->
<!--            <input type="search" class="form-control messanger_search" />-->
<!--            <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>-->
<!--        </div>-->
<!--        <div class="dropdown">-->
<!--            <span class="messanger_icons settings" data-toggle="dropdown"></span>-->
<!--            <div class="dropdown-menu dropdown-menu-left">-->
<!--                <div class="rlight"><a href="">Заблокировать сообщения...</a></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <span class="close_form close_messanger">×</span>-->
<!--    </div>-->
<!--    <div class="messanger_scroll">-->
<!--        <div class="messanger_content rlight">-->
<!--            <div class="list-unstyled">-->
<!--                <div class="messanger-sms">-->
<!--                    <div class="user_wrap_image">-->
<!--                        <a href=""><img src="../assets/img/user.png" /></a>-->
<!--                    </div>-->
<!--                    <div class="messanger-sms-txt">-->
<!--                        <a href="">-->
<!--                            <img src="../assets/img/mess.png" />-->
<!--                            Настольная книга переводчика-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="messanger-sms-answers">-->
<!--                    <div class="messanger-sms-txt">спс</div>-->
<!--                    <div class="prosmotreno"><span class="chmess"></span> Просмотрено 2 сентября</div>-->
<!--                </div>-->
<!--                <div class="messanger-sms">-->
<!--                    <div class="user_wrap_image">-->
<!--                        <a href=""><img src="../assets/img/user.png" /></a>-->
<!--                    </div>-->
<!--                    <div class="messanger-sms-txt">-->
<!--                        Настольная книга переводчика-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="messanger-sms-answers">-->
<!--                    <div class="messanger-sms-txt">спс</div>-->
<!--                    <div class="prosmotreno"><span class="chmess"></span> Просмотрено 2 сентября</div>-->
<!--                </div>-->
<!--                <div class="messanger-sms">-->
<!--                    <div class="user_wrap_image">-->
<!--                        <a href=""><img src="../assets/img/user.png" /></a>-->
<!--                    </div>-->
<!--                    <div class="messanger-sms-txt">-->
<!--                        Настольная книга переводчика-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="messanger-sms-answers">-->
<!--                    <div class="messanger-sms-txt">спс</div>-->
<!--                    <div class="prosmotreno"><span class="chmess"></span> Просмотрено 2 сентября</div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="messanger_bottom">-->
<!--        <input type="text" class="form-control enter_message" placeholder="Введите сообщение..." />-->
<!--        <div class="messicowrap">-->
<!--            <a href=""><span class="messanger_icons imgico"></span></a>-->
<!--            <a href=""><span class="messanger_icons smile"></span></a>-->
<!--            <a href=""><span class="messanger_icons clip"></span></a>-->
<!--            <a href=""><span class="messanger_icons like"></span></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
