<div class="tab-pane garantee" id="garantee">
    <div class="garan_top col-md-11 col-sm-12">
        <form action="" method="">
            <div class="col-md-8 col-sm-8 col-xs-12 no-pad garan_bl">
                <div class="col-md-3 col-sm-3 col-xs-3 form_photo no-pad req_bl_left">
                    <div class="img-wrap">
                    </div>
                </div>
                <div class="col-md-9  col-sm-9 col-xs-9 no-pad req_bl_right col-form-input persform100">
                    <div class="form-group">
                        <div class="col-md-8 col-sm-8 col-xs-8 no-pad pad-right">
                            <input class="form-control" type="text" value="" id="ex1">
                            <div class="bottom_input"># XXXXXXXXX</div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-pad"><button class="send_button gar"></button></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 status">
                <div>Статус<br />Подтвержден</div> <span>100%</span>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 no-pad">
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
        <div class="garant_pers">
            <div class="img-wrap">
                <div class="checked_person"></div>
                <span class="garant_name">Ольга<br />Бильская</span>
            </div>
        </div>
    </div>
</div>
