<div class="tab-pane" id="votes">
    <div class="chron-tab-top col-xs-12 no-pad votes_top">
        <div class="sorting-but">
            <img class="" src="../assets/img//sortingicon.png">
        </div>
        <div class="chron_tab_top_right_content">
            <div class="col-md-3 no-pad">
                <br>
                Количество 361
            </div>
        </div>
    </div>
    <div class="col-xs-12 no-pad chrblock votes_block">
        <div class="table-responsive chrblock_table">
            <table class="table">
                <tbody>
                <tr>
                    <th><img class="" src="../assets/img/icons/mini-cal.png"> Дата</th>
                    <th class="table_w20"><span class="table_chron_icons inauthmini"></span> Название
                    </th>
                    <th class="custfs"><span class="table_chron_icons inauthmini"></span> Авторы<br>Соавторы
                    </th>
                    <th class="custfs"><span class="table_chron_icons desmini"></span>
                        Ваше<br>Решение
                    </th>
                    <th class="custfs"><img class="" src="../assets/img/icons/number-part.png">
                        Принявших<br>Участие
                    </th>
                    <th class="custfs"><img class="chicon" src="../assets/img/icons/thanks.png">
                        Поддержавших
                    </th>
                    <th><span class="table_chron_icons datahmini"></span> Дата</th>
                    <th><span class="table_chron_icons statmini"></span> Статус</th>
                </tr>
                <tr>
                    <td>17:35<br>23.05.2017</td>
                    <td>Мобильное приложение “ВОЛНА ЛЮБВИ”</td>
                    <td class="no-pad">
                        <div class="dropdown dropdown_auth">
                            <button class="drop-auth" type="button" data-toggle="dropdown">Рустем<br>Аблаев
                                <div class="drop-arrow"><i class="fa fa-angle-down"
                                                           aria-hidden="true"></i></div>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Валентина<br>Торова</li>
                                <li>Владимир<br>Панченко</li>
                            </ul>
                        </div>
                    </td>
                    <td><img class="chicon" src="../assets/img/icons/thanks.png"></td>
                    <td>3 254</td>
                    <td>325 (100%)</td>
                    <td>17:35<br>23.05.2017</td>
                    <td class="font25 red"><i class="fa fa-times" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td>17:35<br>23.05.2017</td>
                    <td>Мобильное приложение “ВОЛНА ЛЮБВИ”</td>
                    <td class="no-pad">
                        <div class="dropdown dropdown_auth">
                            <button class="drop-auth" type="button" data-toggle="dropdown">Рустем<br>Аблаев
                                <div class="drop-arrow"><i class="fa fa-angle-down"
                                                           aria-hidden="true"></i></div>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Валентина<br>Торова</li>
                                <li>Владимир<br>Панченко</li>
                            </ul>
                        </div>
                    </td>
                    <td><img class="chicon" src="../assets/img/icons/useless.png"></td>
                    <td>3 254</td>
                    <td>325 (100%)</td>
                    <td>17:35<br>23.05.2017</td>
                    <td class="font25"><i class="fa fa-check" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <td>17:35<br>23.05.2017</td>
                    <td>Мобильное приложение “ВОЛНА ЛЮБВИ”</td>
                    <td class="no-pad">
                        <div class="dropdown dropdown_auth">
                            <button class="drop-auth" type="button" data-toggle="dropdown">Рустем<br>Аблаев
                                <div class="drop-arrow"><i class="fa fa-angle-down"
                                                           aria-hidden="true"></i></div>
                            </button>
                            <ul class="dropdown-menu">
                                <li>Валентина<br>Торова</li>
                                <li>Владимир<br>Панченко</li>
                            </ul>
                        </div>
                    </td>
                    <td><img class="chicon" src="../assets/img/icons/thanks.png"></td>
                    <td>3 254</td>
                    <td>325 (100%)</td>
                    <td>17:35<br>23.05.2017</td>
                    <td class="font25"><i class="fa fa-refresh" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
