<div class="col-md-3 col-sm-12 col-xs-12">
    <div class="block right  hidden-sm hidden-xs">
        <div class="block-inf">
            <div class="h5">мой статус</div>
            <div class="txtup usstatus">
                <img class="iconz" src="../assets/img/icons/active-status.png" />
                <div> АКТИВЕН до 27.01.2017<div>ПОДТВЕРЖДЕН нА 100%</div>
                </div>
            </div>
        </div>
        <div class="block-inf">
            <div class="h5">мой счет</div>
            <div><img class="iconz" src="../assets/img/icons/coins.png" /> 3 476, 487 463 77</div>
        </div>
        <div class="block-inf">
            <div class="h5">мой рейтинг</div>
            <table>
                <tr>
                    <td></td>
                    <td>Инновация</td>
                    <td>Информация</td>
                </tr>
                <tr>
                    <td>Кол-во</td>
                    <td>12</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Баллы</td>
                    <td>321</td>
                    <td>345</td>
                </tr>
            </table>
        </div>
        <div class="block-inf">
            <div class="h5">мой сервер</div>
            <div class="txtup"><img class="iconz" src="../assets/img/icons/serv.png" /> АКТИВЕН IP 5.189.163.40</div>
        </div>
        <div class="block-inf">
            <div class="h5">моя реферальная ссылка</div>
            <div class="txtup"><img class="iconz" src="../assets/img/reflink.png" /> <a href="" class="whbut">Скопировать в буфер</a></div>
        </div>
    </div>
    <div class="block subscribers">
        <ul class="list-unstyled clearfix subscr_nav">
            <li>мои подписчики <span>37</span></li>
            <li class="all_subscribers"><a>Все</a></li>
        </ul>
        <div class="clearfix">
            <ul class="all_subblock">
                <li>
                    <img class="us-photo" src="../assets/img/user.png" />
                    <div class="sub-info">
                        Виниченко Галина
                        <ul class="specialization">
                            <li>Веб Дизайн;</li>
                            <li>Архитектура</li>
                        </ul>
                        <a href="" class="subscr-button">Подписаться</a>
                    </div>
                </li>
                <li>
                    <img class="us-photo" src="../assets/img/user.png" />
                    <div class="sub-info">
                        Виниченко Галина
                        <ul class="specialization">
                            <li>Веб Дизайн;</li>
                            <li>Архитектура</li>
                        </ul>
                        <a href="" class="subscr-button">Подписаться</a>
                    </div>
                </li>
                <li>
                    <img class="us-photo" src="../assets/img/user.png" />
                    <div class="sub-info">
                        Виниченко Галина
                        <ul class="specialization">
                            <li>Веб Дизайн;</li>
                            <li>Архитектура</li>
                        </ul>
                        <a href="" class="subscr-button">Подписаться</a>
                    </div>
                </li>
                <li>
                    <img class="us-photo" src="../assets/img/user.png" />
                    <div class="sub-info">
                        Виниченко Галина
                        <ul class="specialization">
                            <li>Веб Дизайн;</li>
                            <li>Архитектура</li>
                        </ul>
                        <a href="" class="subscr-button">Подписаться</a>
                    </div>
                </li>
                <li>
                    <img class="us-photo" src="../assets/img/user.png" />
                    <div class="sub-info">
                        Виниченко Галина
                        <ul class="specialization">
                            <li>Веб Дизайн;</li>
                            <li>Архитектура</li>
                        </ul>
                        <a href="" class="subscr-button">Подписаться</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
