<div class="tab-pane active" id="data">
    <!--pers data content nav-->
    <ul class="nav nav-pills tab-cont_nav_inside perscontnav">
        <li class="active"><a href="#dataold" data-toggle="tab">11.03.2017</a></li>
        <li><a href="#addata" data-toggle="tab"><span class="nav_icons newdata"></span>Данные</a></li>
    </ul>
    <!--pers data content nav-->
    <!--pers data content info-->
    <div class="tab-content clearfix tab-cont-info">
        <div class="tab-pane active dataold" id="dataold">
            <div class="qrcode_block">
                <img class="img-responsive" src="../assets/img/qr.png" />
                <div><span>#</span> 1543765349</div>
                <div><span class="nav_icons qricon"></span> 511 000</div>
            </div>
            <form method="" action="">
                <div class="form-group row biomphoto">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 col-form-label pers100">Биометрическое фото:</label>
                    <div class="col-md-4 col-sm-4 col-xs-4 biom no-pad">
                        <img class="img-responsive" src="../assets/img/biomim.png" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 col-form-label pers100">Язык зполнения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Основное гражданство:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Украина" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Страна рождения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Украина" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Город/область рождения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 no-pad">
                        <select class="select">
                            <option>eee</option>
                            <option>eee</option>
                            <option>eee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Город/район рождения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 no-pad">
                        <select class="select">
                            <option>eee</option>
                            <option>eee</option>
                            <option>eee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Населенный пункт рождения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 no-pad pers100">
                        <div class="col-md-4 col-sm-4 col-xs-4 no-pad pad-right">
                            <select class="select">
                                <option>eee</option>
                                <option>eee</option>
                                <option>eee</option>
                            </select>
                        </div>
                        <div class=" col-md-8 col-sm-8 col-xs-8 no-pad">
                            <select class="select">
                                <option>eee</option>
                                <option>eee</option>
                                <option>eee</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Дата рождения:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <div class="col-md-3 col-sm-3 col-xs-3 no-pad pad-right"><input class="form-control" type="text" value="12" id="ex1" /></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 no-pad pad-right"><input class="form-control" type="text" value="октябрь" id="ex1" /></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-pad"><input class="form-control" type="text" value="1989" id="ex1" /></div>
                    </div>
                </div>
                <div class="form-group row surname-block">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Фамилия:</label>
                    <div class="col-md-3 col-sm-3 col-xs-4 pers100 col-form-input no-pad pad-right">
                        <div class="langbl">на языке заполнения</div>
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4 pers100 col-form-input no-pad">
                        <div class="langbl">латинскими буквами</div>
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Имя:</label>
                    <div class="col-md-3 col-sm-3 col-xs-4 pers100 col-form-input no-pad pad-right">
                        <div class="langbl hide-big show-600">на языке заполнения</div>
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4 pers100 col-form-input no-pad">
                        <div class="langbl hide-big show-600">латинскими буквами</div>
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Отчество:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Пол:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Идентификационный код:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-6 pers100 col-form-label">Документ удостоверяющий личность:</label>
                    <div class="col-md-3 col-sm-3 col-xs-6 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Номер документа:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <input class="form-control" type="text" value="Русский" id="ex1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ex1" class="col-md-4 col-sm-4 col-xs-4 pers100 col-form-label">Дата выдачи документа:</label>
                    <div class="col-md-3 col-sm-3 col-xs-8 pers100 col-form-input no-pad">
                        <div class="col-md-3 col-sm-3 col-xs-3 no-pad pad-right"><input class="form-control" type="text" value="12" id="ex1" /></div>
                        <div class="col-md-5 col-sm-5 col-xs-5 no-pad pad-right"><input class="form-control" type="text" value="октябрь" id="ex1" /></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 no-pad"><input class="form-control" type="text" value="1989" id="ex1" /></div>
                    </div>
                </div>
                <div class="form_buttons">
                    <button type="" class="">Сохранить</button>
                    <button type="" class="">Добавить</button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="addata">
            addata
        </div>
    </div>
    <!--pers data content info-->
    <!--pers data content nav-->
    <ul class="nav nav-pills tab-cont_nav_inside persxsnav">
        <li routerLinkActive="active">
            <a routerLink="family" data-toggle="tab">Семя</a></li>
        <li routerLinkActive="active">
            <a routerLink="guarantors" data-toggle="tab">Гаранты</a></li>
        <li routerLinkActive="active">
            <a routerLink="citizenship" data-toggle="tab">Гражданство</a></li>
    </ul>
    <!--pers data content nav-->
    <!--pers data content info-->
    <div class="tab-content clearfix tab-cont-info">
        <router-outlet></router-outlet>



    </div>
    <!--pers data content info-->
</div>
