<div class="tab-pane sobstv" id="sobstv">
    <div class="contact_tab">
        <div class="col-md-4 left_cont">
            <div class=" add_adress">
                <div class="cont_title">
                    <div class="ico-txt"><span class="cont_title_icon sobstv_icon"></span></div>
                    <div class="tl-txt">Добавить Недвижимость</div>
                </div>
                <div class="form-group">
                    <select class="select">
                        <option>Украина</option>
                    </select>
                    <div class="sobstv_desc_block">
                        <div>РЕЕСТР ПРАВ СОБСТВЕННОСТИ НА НЕДВИЖИМОЕ ИМУЩЕСТВО</div>
                        <a href="">https://rrp.minjust.gov.ua/</a>
                    </div>
                    <input class="form-control cust_width" type="text" value="Регистр-ый № имущества" />
                    <select class="select cust_width">
                        <option>Регистр-ый № имущества</option>
                    </select>
                    <select class="select cust_width">
                        <option>Тип имущества</option>
                    </select>
                    <select class="select cust_width">
                        <option>Город / Область</option>
                    </select>
                    <select class="select cust_width">
                        <option>Город / Район</option>
                    </select>
                    <select class="select cust_width">
                        <option>Тип Нас-го пункта</option>
                    </select>
                    <select class="select cust_width">
                        <option>Название Нас-го пункта</option>
                    </select>
                    <select class="select cust_width">
                        <option>Тип улицы</option>
                    </select>
                    <select class="select cust_width">
                        <option>Название улицы</option>
                    </select>
                    <input class="form-control inp_sm" type="text" placeholder="№ Дома" />
                    <input class="form-control inp_mid" type="text" placeholder="№ Квартиры" />
                    <input class="form-control cust_width" type="text" value="Площадь зем. уч-ка (кв.м)" />
                    <div class="sobstv_desc_block">
                        Дата принятия решения о государственной регистрации:
                    </div>
                    <div class="clearfix"></div>
                    <div class="min_sel">
                        <select class="select">
                            <option>День</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Месяц</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Год</option>
                        </select>
                    </div>
                    <div class="sobstv_desc_block">
                        Дата внесения записи:
                    </div>
                    <div class="clearfix"></div>
                    <div class="min_sel">
                        <select class="select">
                            <option>День</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Месяц</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Год</option>
                        </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="cust_width">
                        <select class="select ">
                            <option>Форма собственности</option>
                        </select>
                    </div>
                    <input class="form-control cust_width" type="text" value="Доля собственности" />
                    <div class="sobstv_desc_block"> Основания возникновения права собственности</div>
                    <div class="cust_width">
                        <select class="select">
                            <option>Тип документа</option>
                        </select>
                    </div>
                    <input class="form-control cust_width" type="text" value="Номер документа" />
                    <div class="sobstv_desc_block"> Дата подписания</div>
                    <div class="clearfix"></div>
                    <div class="min_sel">
                        <select class="select ">
                            <option>День</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Месяц</option>
                        </select>
                    </div>
                    <div class="min_sel">
                        <select class="select">
                            <option>Год</option>
                        </select>
                    </div>
                    <div class="dropdown drop_settings sobstvennost">
                        <span class="mini-icon lock"></span>
                        <i class="fa fa-chevron-down" data-toggle="dropdown" aria-hidden="true"></i>
                        <ul class="dropdown-menu  dropdown-menu-right">
                            <li><a href="#"><span class="mini-icon earth"></span> Доступно всем</a></li>
                            <li><a href="#"><span class="mini-icon lock"></span> Только я</a></li>
                            <li><a href="#"><span class="mini-icon home"></span> Семья</a></li>
                            <li><a href="#"><span class="mini-icon garan"></span> Гаранты</a></li>
                            <li><a href="#"><span class="mini-icon subscr"></span> Подписчики</a></li>
                            <li><a class="active" href="#"><span class="mini-icon libra"></span> Равний доступ</a></li>
                        </ul>
                    </div>
                    <div class="bt_group">
                        <button type="button" class="save_button">Сохранить</button>
                        <button type="reset" class="reset_button">Отмена</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 right_cont">
            <div class="sobstv_title">Недвижимость</div>
            <div class="sobstv_info">
                <div><span>Страна:</span> Украина</div>
                <div><span>Сведения из:</span> РЕЕСТР ПРАВ СОБСТВЕННОСТИ НА
                    НЕДВИЖИМОЕ ИМУЩЕСТВО</div>
                <div><span>Регистрационный номер имущества:</span> 9724098</div>
                <div><span>Тип имущества:</span> нежилое здание</div>
                <div><span>Адрес недвижимого имущества:</span> Виницкая обл., г.Винница
                    пр-т Космонавтов дом 25</div>
                <div><span>Площадь земельного участка (кв.м):</span> 1227,9</div>
                <div><span>Дата принятия решения о государственной регистрации:</span>
                    21.03.2007</div>
                <div><span>Дата внесения записи:</span> 21.03.2007</div>
                <div><span>Форма собственности:</span> частная</div>
                <div><span>Доля собственности:</span> 1/1</div>
                <div><span>Основание возникновения права собственности:</span>
                    договор купли-продажи, 361, 17.03.2007</div>
                <div class="text-right">
                    <span class="mini-icon lock"></span>
                    <a class="tab_link cust_marg" href=""><span class="table_icon edit"></span> Редактировать</a>
                    <a class="tab_link" href=""><span class="table_icon del"></span> Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
