<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="user_photo">
                <div class="img-wrap"> <img class="img-responsive" src="../assets/img/userbig.png" /></div>
                <div class="upload_photo">
                    <label for="file1">
                        <img class="img-responsive" src="../assets/img/cam.png" />
                    </label>
                    <input type="file" id="file1" class="" />
                </div>
                <div class="small_photo">
                    <div class="img_wrap">
                        <img class="img-responsive" src="../assets/img/bigimphoto.png" />
                        <div class="upload_photo">
                            <label for="file2">
                                <img class="img-responsive" src="../assets/img/cam.png" />
                            </label>
                            <input type="file" id="file2" class="" />
                        </div>
                    </div>
                    <div class="user_name">Ирина Герсимова</div>
                </div>
            </div>
            <div class="nav_bl">
                <ul class="nav nav-pills uspage_nav">
                    <li>
                        <a routerLink="my-chronicle/innovation-author" routerLinkActive="active">Хроника</a>
                    </li>
                    <li>
                        <a routerLink="personal-data/main/family"
                           routerLinkActive="active">Личные данные</a>
                    </li>
                    <li>
                        <a routerLink="balance" routerLinkActive="active">Баланс</a>
                    </li>
                    <li>
                        <a routerLink="timeline-settings" routerLinkActive="active">Настройки Ленты</a>
                    </li>
                    <li class="create">
                        <div>Создать</div>
                        <a routerLink="create-innovation" routerLinkActive="active">Инновацию</a>
                        <a routerLink="create-information" routerLinkActive="active">Информацию</a>
                    </li>
                    <li>
                        <a routerLink="blockchain" routerLinkActive="active">Blockchain</a>
                    </li>
                </ul>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
